@charset "utf-8"; @import "~bulma/bulma.sass";

.App {
    height: 100%;
}

#notes-init {
    height: 100%;
    display: flex;
}

#notes-init .block {
    width: 80%;
    height: 90%;
}

#notes-init #create-btn-init {
    height: auto;
    width: 100%;
}

.note-summary-title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    height:56px;
    margin-bottom: 15px;
}

.nav-branding {
    position: absolute;
    z-index: 999;
    left: 4rem;
    top: 0;
}

.modal-menu {
    width: 18rem;
    height: 100vh;
    position: fixed;
    left: 0;
    background: white;
    top: 0;
}

.side-menu-btn {
    position: absolute;
    z-index: 999;
}
 
.editor {
    padding-top: 2rem;
}

#content {
    height: 100%;
}

.content-body {
    color: inherit;
}

.textarea-wrapper {
    width: 100%;
}

.content-spacing {
    height: 90%;
    border: none;
    width: 100%;
    resize: none;
    box-shadow: none;
}

.textarea-size {
    width: 100%;
    background: none;
    border: none;
}

.textarea-spacing {
    padding: 0px 15px;
}

.textarea-input {
    font-family: inherit;
    font-size: inherit;
    padding: 1px 6px;
    display: block;
    width: 100%;
    overflow: hidden;
    background: none;
    border: none;
    resize: none;
    min-height: 40px;
    line-height: 20px;
  }

  .textarea:not([rows]) {
    max-height: 40em;
    min-height: 5em;
}

.no-border {
    border: none;
}

.theme-toggle-btn {
    position: absolute;
    top: 5px;
    right: 50px;
}

.modal-menu {
    overflow-y: scroll;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    color: inherit;
}

.brand-menu-bg {
    position: absolute;
    width: 15rem;
    z-index: 999;
    background: #363636;
    padding: 0;
    left: 0;
    margin: 0;
}

.note-summaries li {
    border-bottom: 1px solid #CCC;
    margin-bottom: 2rem;
}

.note-summaries li:last-child {
    border-bottom: none;
}

.note-summary:last-of-type {
    border-bottom: none;
}

.date-timestamp {
    margin-bottom: 1rem;
    display: inline-block;
}

#editor-wrapper {
    width: 75%;
    margin: 6rem auto;
}