.App {
    height: 100%;
}

#no-notes {
    height: 100vh;
    display: flex;
}
.nav-branding {
    position: absolute;
    z-index: 999;
    left: 4rem;
}

.modal-menu {
    width: 18rem;
    height: 100vh;
    position: fixed;
    left: 0;
    background: white;
    top: 0;
}

.side-menu-btn {
    position: static;
    z-index: 999;
}

.editor {
    padding-top: 5rem;
}