@import 'bulma/css/bulma.css';

body {
  overflow: hidden;
}

html, body, #root {
  height: 100%;
}

blockquote {
  color: black;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3c3c3c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-input-placeholder { /* WebKit browsers */
  padding: 5px 0 0 5px;
}

::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  padding: 5px 0 0 5px;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  padding: 5px 0 0 5px;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  padding: 5px 0 0 5px;
}